[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
bandit = "*"
coverage = "*"
autoflake = "*"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-filter = "*"

[requires]
python_version = "3.8"
